.form {
    width: 80%;
    max-width: 400px;
    background-color: #B6C9F0;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

.button {
    padding: 10px 15px;
    background-color: #CE1212;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.button:hover{
    background-color: #FA1E0E;
}

.button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.buttons{
    text-align: right;
}

.errorMessage {
    color: red;
}