.NavigationItem{
    margin: 10px;
}

.NavigationItem a {
    text-decoration: none;
    color: #03256c;
}

.NavigationItem a:hover,
.NavigationItem a:focus,
.NavigationItem a.active {
    color: #ff7b54;
}

